//a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}
a{color:#666;}

<<<<<<< HEAD

table#visual_vipbbsrsbb,
table#visual_lbdd,
table#visual_srsaavipaa,table#visual_lbcc,
table#visual_srsaa,table#visual_csaa,
table#visual_csa,table#visual_srsa,table#visual_vipasrsa,
table#visual_srsbvipb,table#visual_lbbb,table#visual_lbaa,
table#visual_lba td,{}

table#visual_vipbbsrsbb td,table#visual_lbdd td,
table#visual_srsaavipaa td,table#visual_lbcc td,
table#visual_srsaa td,table#visual_csaa td,
table#visual_csa td,table#visual_srsa td,
table#visual_vipasrsa td,table#visual_srsbvipb td,table#visual_lbaa td,
table#visual_lbbb td,table#visual_lba td{border: 1px solid #000;//background-color: red;text-align: center;width:20px;}
=======
//table#visual_vipbbsrsbb,table#visual_lbdd{margin:20px 0;}

table#visual_vipbbsrsbb td,table#visual_lbdd td{border: 1px solid #000;//background-color: red;text-align: center;width:20px;}
>>>>>>> 34e1b9d3e75aebd7ac55e663ef9b9bdc14d117c3
.false, .true {border: 1px solid #000;text-align: center;width:20px;}
//.false{background-color: red;color:blue;}
.true{background-color: green;color:white;}
table a{text-decoration: none; color:#000;font-size: .6em;width: 20px;}
table a:hover{color:#000;}
//table a .table{text-decoration: none; color:#000;font-size: .6em;width: 20px;}
.body_content{margin:100px 0 0 0;position:relative;}

.inner_content{width: 50%; margin:0 auto;}
.inner_content h1{//text-align: center;margin:150px 0 20px 0;}
.inner_content .span3{margin:0 auto;}

#signup{float:right;color: #fff;background-color: #fff;border-radius: 2px;padding: 3px 10px;margin-top: 8px;}

.welcome{float:right;margin-top:10px;}

#my_reserve{position: absolute;right:0;top:100px;width:400px;}
#my_reserve_01{position: absolute;right:0;top:300px;width:400px;}
#my_reserve_02{position: absolute;right:0;top:400px;width:400px;}
#my_reserve_03{position: absolute;right:0;top:300px;width:400px;}
#my_reserve_04{position: absolute;right:0;top:100px;width:350px;}

.nav-in{position: absolute;right:0;top:5px;}
ul{position: absolute;}
ul li{float: left;margin:0 10px 0 0;list-style-type: none;}

.container{margin-bottom: 50px;}

.seat_nav{//position:absolute;right: 0;top:0;float:right;margin-right: 50px;margin-top: 50px;}
//.seat_nav ul {float:right;display:inline;}
//.seat_nav ul li a{float:right;display: block;}
.seat_nav a{font-size:14px;}
.notes{border: 1px solid #ccc;border-radius: 4px;width: 20%;padding:10px;margin-top: 40px;}

h4{margin:10px 0;}
#table_01 a:hover{color:red;}

.table_email{margin-bottom: 10px;}

.lowerbox{position: absolute;right:150px;top: 150px;}